---
import Layout from "@/layouts/Layout.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import faqData from "@/data/faqData.json";
import testimonialData from "@/data/testimonialData.json";
import featuresData from "@/data/featuresData.json";
import { Icon } from "astro-icon";
import Accordion from "@/components/Accordion.astro";
import HomeBanner from "@/components/HomeBanner.astro";
import { MotionBTTContainer } from "@/components/motion/MotionBTTContainer";
import BadgeGroup from "@/components/badge/BadgeGroup.astro";
import BadgeMessage from "@/components/badge/BadgeMessage.astro";
import PageTitle from "@/components/PageTitle.astro";
import Content from "@/components/Content.astro";
import ContentImage from "@/components/ContentImage.astro";
import BadgeIcon from "@/components/badge/BadgeIcon.astro";
import CardGroup from "@/components/card/CardGroup.astro";
import Card from "@/components/card/Card.astro";
import CardBody from "@/components/card/CardBody.astro";
import CardImage from "@/components/card/CardImage.astro";
import CardHeader from "@/components/card/CardHeader.astro";
import Column from "@/components/Column.astro";
import ContactForm from "../components/contactForm/ContactForm.astro";
import AboutCard from "../components/about/AboutCard.astro";
import customerImage from '@/assets/images/customer.webp'
import marriageringsImage from '@/assets/images/marriagerings.webp'
---

<Layout
    title="Hammerstücke - Handgefertigter Schmuck"
    description="Entdecken Sie handgefertigten Schmuck von Hammerstücke. Individuelle Anfertigungen und Reparaturen. Besuchen Sie mich jetzt!"
>
    <div class="main-wrapper bg-[#f8f7f8] relative z-10 pb-20 pt-20">
        <HomeBanner />
        <SectionContainer
            class="components--container wrap wrap-px grid gap-8 sm:gap-24"
        >
            <SectionContainer id="features" class="features sm:mt-10">
        <!--         <BadgeGroup alignment="center">
                    <BadgeMessage>Leistungen</BadgeMessage>
                    <BadgeIcon icon="mdi:star-circle-outline" />
                </BadgeGroup> -->
                <PageTitle class="text-center mx-auto" type="default">
                    Jedes einzelne Stück erzählt eine Geschichte
                </PageTitle>
                <Content class="text-center" alignment="center">
                    <p>
                        Lassen Sie Ihrer Kreativität freien Lauf und gestalten
                        Sie Ihr eigenes Schmuckstück. Gemeinsam verwandeln wir
                        Ihre Ideen und Wünsche in exklusive Einzelstücke, die
                        Ihre Persönlichkeit und Stil perfekt widerspiegeln.
                    </p>
                </Content>
                <ContentImage contentImageData={featuresData} />
            </SectionContainer>
            <!-- Features -->
            <SectionContainer class="feature-tabs sm:mt-10">
            <!--     <BadgeGroup alignment="center">
                    <BadgeMessage>Weitere Leistungen</BadgeMessage>
                    <BadgeIcon icon="twemoji:waving-hand" />
                </BadgeGroup> -->
                <PageTitle class="text-center mx-auto" type="default">
                    Persönliche Beratung
                </PageTitle>
                <Content class="text-center" alignment="center">
                    <p class="">
                        Hier ist es bekannt, wie wichtig die Wahl der richtigen
                        Eheringe ist. Deshalb bieten wir Ihnen eine persönliche
                        Beratung an, um Ihre Vorstellungen und Wünsche bis ins
                        kleinste Detail zu verstehen. Gemeinsam schaffen wir
                        Ringe, die Ihre Persönlichkeit und Ihre Liebe zueinander
                        widerspiegeln.
                    </p>
                </Content>
                <CardGroup
                    class="grid scroll-m-24 gap-8 grid-cols-1 max-w-4xl mx-auto mt-24 md:grid-cols-2"
                >
                    <Card class="col-span-1">
                        <CardBody
                            class="w-full bg-white-600/20 p-12 rounded-2xl"
                        >
                            <CardImage
                                src={customerImage}
                                alt="Customizable Layouts image used."
                            />
                            <CardHeader
                                class="!text-black !text-2xl !font-bold"
                            >
                                Viele Designmöglichkeiten
                            </CardHeader>
                            <p class="sm:h-40">
                                Lassen Sie Ihrer Kreativität freien Lauf! Unsere
                                Goldschmiede bieten Ihnen eine Vielzahl an
                                Designoptionen, um Ihre Eheringe ganz nach Ihren
                                Vorstellungen zu gestalten. Ob klassisch,
                                modern, extravagant oder schlicht – bei mir
                                finden Sie garantiert das passende Design.
                            </p>
                        </CardBody>
                    </Card>
                    <Card class="col-span-1">
                        <CardBody
                            class="w-full bg-white-600/20 rounded-2xl p-12"
                        >
                            <CardImage
                                src={marriageringsImage}
                                alt="Progress Tracking image used."
                            />
                            <CardHeader
                                class="!text-black !text-2xl !font-bold"
                            >
                                Persönliche Gravuren
                            </CardHeader>
                            <p class="h-40">
                                Machen Sie Ihre Eheringe zu etwas ganz
                                Besonderem mit einer persönlichen Gravur. Ob
                                Datum, Namen oder eine Liebesbotschaft – die
                                Gravur macht Ihre Ringe zu etwas Einzigartigem.
                            </p>
                        </CardBody>
                    </Card>
                </CardGroup>
            </SectionContainer>
            <SectionContainer id="contact" class="flex justify-center">
                <ContactForm />
            </SectionContainer>
            <SectionContainer id="about" class="flex justify-center">
                <AboutCard />
            </SectionContainer>
        </SectionContainer>
    </div>
</Layout>
