---
import Button from "../button/Button.astro";
import SectionContainer from "../SectionContainer.astro";
---

<SectionContainer class="flex items-center min-h-screen sm:w-3/6 bg-primary-100">
    <div
        class="container mx-auto flex flex-col items-center bg-white-600/20 rounded-2xl"
    >
        <div class="max-w-md mx-auto my-10 p-5 shadow-sm">
            <div class="text-center">
                <h1 class="my-3 text-3xl font-semibold text-gray-700">
                    Kontaktieren Sie mich
                </h1>
                <p class="text-gray-400">
                    Füllen Sie das Formular unten aus, um mir eine Nachricht zu
                    senden.
                </p>
            </div>
        </div>
        <div class="m-7">
            <form
                action="https://api.web3forms.com/submit"
                method="POST"
                id="form"
            >
                <input
                    type="hidden"
                    name="access_key"
                    value="4586e458-f205-4c42-81fa-d751167d3e16"
                />
                <input
                    type="hidden"
                    name="subject"
                    value="Neue Nachricht von Hammerstuecke.de"
                />
                <input
                    type="hidden"
                    name="redirect"
                    value="http://localhost:3000/"
                />
                <input
                    type="checkbox"
                    name="botcheck"
                    id=""
                    style="display: none;"
                />
                <div class="mb-6">
                    <label for="name" class="block mb-2 text-sm text-gray-600"
                        >Name</label
                    >
                    <input
                        type="text"
                        name="name"
                        id="name"
                        placeholder="Max Mustermann"
                        required
                        class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300"
                    />
                </div>
                <div class="mb-6">
                    <label for="email" class="block mb-2 text-sm text-gray-600"
                        >Email Adresse</label
                    >
                    <input
                        type="email"
                        name="email"
                        id="email"
                        placeholder="max@mustermann.de"
                        required
                        class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300"
                    />
                </div>
                <div class="mb-6">
                    <label for="phone" class="text-sm text-gray-600"
                        >Telefonnummer
                    </label>
                    <input
                        type="text"
                        name="phone"
                        id="phone"
                        placeholder="04102 1234567"
                        required
                        class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300"
                    />
                </div>
                <div class="mb-6">
                    <label
                        for="message"
                        class="block mb-2 text-sm text-gray-600"
                        >Ihre Nachricht</label
                    >

                    <textarea
                        rows="5"
                        name="message"
                        id="message"
                        placeholder="Ihre Nachricht"
                        class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300"
                        required></textarea>
                </div>
                <div class="mb-6">
                    <Button type="submit" class="w-full btn btn--secondary">
                        Ansenden
                    </Button>
                </div>
                <p class="text-base text-center text-gray-400" id="result"></p>
            </form>
        </div>
    </div>
</SectionContainer>
