---
import SectionContainer from "./SectionContainer.astro";
import Nav from "./Nav.astro";
import ButtonGroup from "./button/ButtonGroup.astro";
import { Icon } from "astro-icon";
import { Image } from 'astro:assets';
import navData from "@/data/navData.json";
import mainLogo from '../../public/HammerstueckeLogoNew4.svg'
import { m } from "framer-motion";
---

<header id="header" class="header fixed left-0 w-full z-30 top-0 bg-white">
    <SectionContainer class="header--container wrap wrap-px">
        <div class="header-logo--container">
            <h1 class="mb-0">
                <a href="/">
                    <Image
                        src={mainLogo}
                        alt="logo"
                        height={32}
                        width={200}
                        format="svg"
                    />
                </a>
            </h1>
        </div>
        <!-- Navigation -->
        <SectionContainer class="flex items-center ml-auto">
            <Nav navItems={navData} />
            <!--                <ButtonGroup class="hidden md:block">
                    <a
                        role="button"
                        href="https://github.com/christian-luntok/astro-nutritrack"
                        class="btn btn--secondary ml-4"
                    >
                        Get Template
                        <Icon name="mdi:arrow-right" class="w-6" />
                    </a>
                </ButtonGroup> -->
        </SectionContainer>
    </SectionContainer>
</header>
